.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-secondary {
    color: #6c757d!important;
}

.breakflow {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-color: white;
  height: 40vh;
  width: 80%;
  color: white;
  transition: all 0.2s;
  margin: 0 auto;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  backface-visibility: hidden !important;
  }

  .breakflow:hover {
    transform: scale(1.02);
    -webkit-font-smoothing: subpixel-antialiased !important;
  }

  .linkedicon{
    font-size: 7rem; 
  }

 .masthead {
   box-shadow: 0 2px 2px -1px rgba(0,0,0,0.50);
   -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.50);
   -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.50);
 }

 .spacing {
   letter-spacing: 0.3rem; 
 }

 .spacingsm {
  letter-spacing: 0.1rem; 
}

.paddingsm{
  padding: 1rem; 
}

#contact {
  background-color: white !important;
  color: #656060!important;
}

#about {
  -webkit-box-shadow: 2px 5px 22px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 5px 22px 2px rgba(0,0,0,0.75);
  box-shadow: 2px 5px 22px 2px rgba(0,0,0,0.75);
}

#mainNav {
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.35);
}

section{
  padding: 3rem 0;
  padding-bottom: 0px !important;
}


@media only screen and (max-width: 600px) {
  .smtext {
    font-size: 1rem; 
    padding: 0; 
  }

  .breakflow{
    height: 650px;
  }
}