* {
	box-sizing: border-box;
    margin:0;
    padding:0;
}

h1 {
    color:rgba(69, 69, 69, 1);
}

h3 {
    text-align: center; 
    color:rgba(69, 69, 69, 1);
    padding: 10px;
}

.alignImg {
    position: relative; 
    margin:5%;  
}

#gridgall {
	display: grid;
	grid-gap: 15px 5px;
    max-width: 1500px;
    overflow: hidden; 
}

#appGridall {
	display: grid;
	grid-gap: 5px 5px;
    max-width: 1500px;
    margin-bottom: 10px;
    overflow: hidden;
}

#appGridall div h2 {
    text-align: center; 
    position: relative;
    top: 20px;
    padding: 10px; 
    color:rgba(69, 69, 69, 1); 
}

#appGridall div {
    background: rgba(222,148,72 ,0.26);
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}

#appTitle{
    padding: 10px; 
}

#appgrid-item1 {
    grid-row: 2/4; 
}

#appgrid-item2 {
    grid-row: 4/6; 
}

#appgrid-item3 { 
    grid-row: 6/8; 
}

#appgrid-item4 {
    grid-row: 8/10; 
}

a {
    color: black;
    text-decoration: none; 
}

.centerTitle{
    padding: 5px; 
}


#chibiList {
    width:80%; 
    padding: 1em;
}

#chibiList li { 
    padding:4px; 
}

.clothingItem {
    width: 90%; 
    transition: all 0.5s; 
}

.clothingItem:hover {
    transform:scale(1.1); 
}

.detailsCont {
    position: relative; 
    left: 100px; 
    top:50px; 
}

#gridgall div {
    border-radius: 8px; 
}

.fixed-width {
	max-width: 90%;
	margin: 0 auto;
}

h1 {
	text-align: center;
    padding:15px;
}

#grid-item1 {
    background: linear-gradient(to bottom, rgba(222,148,72 ,0.26),  rgba(255,255,255 ,0.00)); 
	text-align: center;
}

#grid-item1 p {
	position: relative;
	margin-bottom: 1em;
	padding: 1em;
	animation-name: fadeinleft;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}


#grid-item1>img {
	position: relative;
	width: 80%;
    padding: 0.5em;
}

#grid-item2 {
	grid-row: 4/5;
    background: linear-gradient(to top, rgba(222,148,72 ,0.26),  rgba(255,255,255 ,0.00));
	display: flex;
	flex-direction: column;
	align-items: center;
}

#grid-item2 p {
	padding: 1em;
	display: flex;
}


#grid-item3 {
	grid-row: 5/6;
	background: linear-gradient(to bottom, rgba(222,148,72 ,0.26),  rgba(255,255,255 ,0.00));
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#grid-item4 {
	grid-row: 6/7;
    background-color: rgba(222,148,72 ,0.26); 
	display: flex;
	flex-direction: column;
	align-items: center;
}

#grid-item4 p {
	padding: 1em;
}

#grid-item5 {
	grid-row: 7/8;
	background-color: rgba(255,255,255 ,0.75);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#gridLogo {
}

.icon {
	max-width: 80%;
	margin: 0 auto;
}

.imgtrans {
	width:175px; 
	transition: all .2s ease-in-out;
	padding: 5px;
	overflow: auto;
	position: relative;
	z-index: 3;
}

.imgOriginalTrans {
    size: 200px; 
	transition: all .2s ease-in-out;
	padding: 5px;
	overflow: auto;
	position: relative;
	z-index: 3;
}

.hide {
    opacity:0; 
}

.imgtrans:hover {
	transform: scale(1.1);
}

.imgOriginalTrans:hover {
	transform: scale(1.1);
}


#navWrapper ul li:hover {
	opacity: 1;
	filter: alpha(opacity=0.5);
	background-color: rgba(255, 74, 1, 0.54);
}

#navWrapper ul {
	margin: 0 auto;
	width: 96%;
}

#navWrapper ul li {
	text-align: center;
	margin: 10px 5px 10px 0px;
	padding: 1%;
    color: rgba(69, 69, 69, 0.9);
	opacity: 0.8;
	transition: background-color 0.25s, opacity 0.25s ease-in;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	width: 98%;
	font-size: 28px;
}

#navWrapper ul li:hover {
    color:white; 
}


#navWrapper ul a {
	text-decoration: none;
}

.nobackground{
    background-color:aqua; 
}

#parallax {
	background-image: url(../images/parallaxbg.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	opacity: 0.1;
	height: 100%;
	width: 100%;
	z-index: -1;
	margin: 0 auto;
}

.sideSpacer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 220px;
	background: linear-gradient(to bottom, rgba(210, 13, 13, 0.18), rgb(251, 162, 39));
	z-index: 2;
	transition: width .5s ease-out;
}

.sideSpacer:hover {
	width: 250px;
}

.title {
    margin-left: 10%;
}

.toStore{
    text-align: center;
    position: relative; 
    bottom:20px;
    display: block; 
    margin: 0 auto; 
    border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
    padding: 0.7em; 
    background-color: hsla(30, 69%, 57%, 1);
    transition: all .5s; 
    font-size: 1em;
}

#flexcont {
	display: block;
}

#flexlist {
	height: 100%;
	transition: all 1s;
}

#navIcons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mobileLogo {
	width: 100px;
	height: 100px;
}

.mobileNavButton {
	width: 50px;
	height: 50px;
	align-self: center;
	margin-right: 15px;
}

.mobileNavButton:hover {
	cursor: pointer;
}

#smWrap {
	width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#smWrap h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color:black; 
    opacity: 0.8; 
}

#smItems {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#smItems li {
	text-align: center;
	opacity: 0.6;
	width: 66px;
	margin-bottom: 10px;
	transition: width 2s, opacity 0.25s ease-in;
}

#smItems li:hover {
	opacity: 0.9;
}

#topNavBar {
	display: flex;
	justify-content: space-between;
    align-items: center;
	width: 100%;
	height: 60px;
	background: linear-gradient(to bottom, rgba(210, 13, 13, 0.18), rgb(251, 162, 39));
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
}

.expand {
	height: 200px;
}

#right {
	position: relative;
	right: 2px;
	top: 2px;
	max-height: 80px;
	max-width: 80px;
	opacity: 0.7;
	transition: all 0.5s;
}

#right:hover {
	opacity: 1;
}


#logoCont {
	font-weight: bold;
    margin: 0 auto;
	width: 220px;
	opacity: 0.8;
	color: white;
	transition: width 2s, opacity 0.5s ease-in;
}

#logoCont:hover {
	opacity: 1;
	filter: alpha(opacity=0.5);
}

#logo {
	max-width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5%;
}

#logoText {
	text-align: center;
}

.logobot {
	max-width: 80%;
	margin: 10%;
	padding-top: 1em;
}

.listItems {
	position: relative;
	width: 100%;
	height: 0px;
	background-color: hsla(36, 100%, 50%, 0.80);
}

.fadeout {
	display: flex;
	align-items: flex-start;  
	opacity: 0;
	height: 0;
	transition: height 1s, opacity 1s;
	background-color: white;
	text-align: center; 
    font-weight: bold;
}

.fadeout li {
	padding: 1em;
	width: 30%;
    border-left: 1px solid brown;
}

.fadeout li:hover {
  background-color: rgb(222, 148, 72,0.26); 
}

.fadeout>li:first-child {
 border-left: 0px; 
}

.fadein {
	opacity: 1;
	height: 48px;
}

#topnavLogo {
	max-height: 95%;
	margin-left: 25px;
}

#toTopBtn {
    position: fixed; 
    text-align: center; 
    vertical-align: middle;
    color: white; 
    bottom: 5px; 
    right:5px;
    font-size: 24px;
    width:50px; 
    height: 50px; 
    background-color: hsla(30, 69%, 57%, 1);
    z-index: 5; 
    border-radius: 15px;
    opacity: 0.8; 
    transition: all 0.5s; 
}

#toTopBtn>a>h1 {
    padding: 0px;
    color:black; 
}

#toTopBtn:hover {
    opacity: 1;
}

.none {
    display:none; 
}

/* Tablet */

@media only screen and (min-width: 500px) {
	#gridgall {
		max-width: 90%;
		margin: 0 auto;
	}
	.fixed-width {
		width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 500px) {
	#topnavLogo {
    max-width: 75%;
    max-height: 75%;
}
}

@media only screen and (max-width: 1500px) {
	.sideSpacer {
		display: none;
	}
	#parallax {
		display: none;
	}

    .title {
    margin:0;
}
}

/* Desktop */

@media only screen and (min-width: 800px) {
    #appGridall {
        grid-template-columns: repeat(4, 1fr);
        grid-gap 5px 5px; 
    }
    
    #appGridall div {
        width: 90%; 
    }
    
    #appTitle{
        grid-column: 2/4; 
    }
    
    #appgrid-item1 {
        grid-row: 2/3; 
        grid-column: 1/3
    }
    
    #appgrid-item2 {
        grid-row: 2/3; 
        grid-column: 3/5
    }
    
    #appgrid-item3 {
        grid-row: 3/5; 
        grid-column: 1/3;
    }
    
    #appgrid-item4 {
        grid-row: 3/5; 
        grid-column: 3/5;
    }
    
    p {
	font-size: 1.2em; 
}
    
    li {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1500px) {
	#gridgall {
		width: 70%;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(9, 1fr);
		grid-gap: 5px 5px;
		margin-left: 320px;
	}
	#grid-item1 {
		grid-row: 1/6;
		grid-column: 5/9;
	}
	#grid-item2 {
		grid-row: 1/3;
		grid-column: 1/5;
		
	}
	#grid-item3 {
		grid-row: 3/6;
		grid-column: 1/5;
		
	}
	#grid-item4 {
		grid-row: 6/7;
		grid-column: 1/9;
		
	}
	#grid-item5 {
		grid-row: 7/10;
		grid-column: 1/9;
	}
	#topNav {
		display: none;
	}
	.aftergrid {
		margin-top: 25px;
	}
	#topNavBar {
		display: none;
	}
	.fadeout {
		display: none;
	}
    .imgOriginalTrans{
        width:200px; 
    }
}

@media only screen and (min-width: 1500px) {
    #gridgall {
		margin-left: 320px;
	}
    
    #appGridall {
        width:70%; 
        margin-left: 320px;
    }
}

@media only screen and (min-width: 1600px) {
    #gridgall {
		margin-left: 390px;
	}
    
        #appGridall { 
        margin-left: 390px;
    }
}

@media only screen and (max-width:350px){

    .fadeout li{
        padding:0.8em; 
    }
}

@media only screen and (min-width:600px){

    .fadeout {
        height: 50px;
        opacity: 1; 
    }
    
    .toggleme {
        display:none; 
    }
}



/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Slider CSS */